@using MvcWebRole1.Controllers
@model VkImageViewModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body vk-image-container">
            <img src="@Model.photo_maxSize_url">
        </div>
        <div class="like-container">
            @{
                int offset = 10;
                String img_class = "";
                if (Model.isLiked)
                {
                    img_class = "unlike-button";
                }
                else
                {
                    img_class = "like-button";
                }
                
            }


            @using (Ajax.BeginForm("Like", "Vkontakte", new AjaxOptions() { UpdateTargetId = "like-count" }))
            {
                <input type="hidden" value="@Model.id" name="id" />
                <input type="hidden" value="@Model.owner_id" name="owner_id" />
                <input type="hidden" value="0" name="type" />
                <input type="image" src="~/Content/img/icons/like_200.png" class="@img_class" /><div class="like-count" id="like-count">@Model.likeCount</div>
            }
        </div>
        <div class="modal-footer" id="comments">

          @{
             // Html.RenderPartial("VkCommentsPartial", Model.comments);
              }

            @using (Ajax.BeginForm("VkAddCommentsPartial", "Tool", new AjaxOptions() { UpdateTargetId = "comments", InsertionMode = InsertionMode.InsertAfter}))
            {
                <input type="hidden" value="@Model.id" name="id" />
                <input type="hidden" value="@Model.owner_id" name="owner_id" />
                <input type="hidden" value="@Model.access_key" name="access_key" />
                <input type="hidden" value="@offset" name="offset" />
                <input type="submit" btn btn-default" value="Загрузить следующие 10" />
            }
        </div>
    </div>
</div>
