@model MvcWebRole1.Models.Group
@using MvcWebRole1.Controllers
@using MvcWebRole1.Models
@{
    DatabaseContext db = new DatabaseContext();
    var token = db.SocAccounts.Where(c => c.ID_AC == Model.ID_AC).Select(c => c.TOKEN).Single();
    var img_url = VKWorker.GetSocAccProfileImg(token);

<h1>Vkontakte<small><img src="@img_url" class="img-circle">
@VKWorker.getGroupName(Model)</small></h1>
    var cigs = db.ContentsInGroups.Where(c => c.ID_GROUP == Model.ID);
    var comments = VKWorker.getSocialCommentsFromGroup(Model.ID);
    foreach (ClientComment cc in comments)
    {
        /* Tuple
         * 1 - url photo
         * 2 - name
         * 3 - comment text
         * 4 - 
         */
        Tuple<String,String,String> commentData = VKWorker.getCommentData(cc);
        <h4><img src="@commentData.Item1" class="img-circle">@commentData.Item2</h4>
        <div class="panel">
            
            @commentData.Item3
            
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Ответить</button>
                </span> 
            </div>

        </div>
        
    }
}